@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  min-height: 100%;
}
#root {
  position: relative;
}
:root {
  --grey: rgb(25, 25, 25);
  --orange: rgba(212, 125, 79, 255);
  --whiteOrange: rgb(251, 175, 133);
  --whiteBlack: rgb(79, 79, 79);
  --earsh: rgb(241, 241, 241);
  --white: #ffffff;
  --black: #080404;
  --whitish: #c6c6c6;
  --whito: rgb(241, 241, 241);
  --maxWidth: 60%;
  --radius: 10px;
}
body {
  font-family: 'MANROPE', 'arial';
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
nav {
  background-color: var(--grey);
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 0;
  transition: all ease-in-out 0.2s;
}

.navWrapper {
  width: var(--maxWidth);
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2.2rem;
  background-color: inherit;
  transition: all ease-in-out 0.2s;
  padding: 2rem 0 2.2rem 0;
}
.cartOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}
.cartWrapper {
  width: var(--maxWidth);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  padding: 8rem 0;
}

.navScrolled {
  padding: 1.25rem 0;
}
.press {
  cursor: pointer;
  position: relative;
}

.press > span:nth-child(1) {
  background-color: var(--orange);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  font-weight: 600;
  position: absolute;
  right: -8px;
  top: -15px;
  font-size: 14px;
}

.navWrapper > picture:nth-child(1) {
  cursor: pointer;
}

.cats {
  display: flex;
  gap: 60px;
}
.cats a {
  font-family: 'MANROPE', 'arial';
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.cats li {
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(
    to right,
    rgb(216, 125, 74) 0%,
    rgb(216, 125, 74) 50%,
    rgb(255, 255, 255) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% center;
  outline: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.here {
  background-image: none !important;
  -webkit-text-fill-color: unset !important;
  transition: none !important;
}
.here a {
  color: var(--orange) !important;
}
.cats li:hover {
  transition: all 0.3s ease 0s;
  background-position: 0% center;
}

.homeHeader {
  background-color: var(--grey);
  background-image: url('./assets/home/desktop/image-hero.jpg');
  height: 80vh;
  background-position-x: 50%;
  background-repeat: no-repeat;
}
.newProduct {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 10px;
  font-size: 14px;
}
.wrapper {
  display: flex;
  max-width: var(--maxWidth);
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: auto;
}
.heleft {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  /*! justify-content: flex-start; */
  align-items: flex-start;
}
.heleft > h1:nth-child(2) {
  color: var(--white);
  font-size: 3.5rem;
  line-height: 1.2;
}
.heleft > p:nth-child(3) {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-weight: 200;
  line-break: breaj;
  max-width: 90%;
}

.seePro {
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}
.seePro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--whiteOrange);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.seePro:hover::before {
  height: 100%;
}
main {
  max-width: var(--maxWidth);
  margin: auto;
  margin-top: 10rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
  /* TEMPORALY */
  padding-bottom: 15rem;
  margin-bottom: 4rem;
}
.mightKnow {
  display: flex;
  gap: 0 30px;
  margin: auto;
  justify-content: space-between;
  height: 12rem;
  width: 100%;
}
.mightKnow > a {
  background-color: var(--whito);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--whito);
  justify-content: flex-end;
  padding: 1rem 0rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius);
  color: black;
}

.mightKnow > a > picture:nth-child(1) {
  position: relative;
  bottom: 70px;
  cursor: pointer;
  width: 220px;
  position: absolute;
  bottom: 39px;
}
.mightKnow > a > h5:nth-child(2) {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.mightKnow > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--whitish);
  color: rgba(0, 0, 0, 0.363);
  width: 100%;
  margin-top: 3px;
  transition: color ease-in-out 0.3s;
}
.mightKnow > a > div:hover {
  color: var(--orange);
}

.stein {
  background-color: var(--orange);
  display: flex;
  background-image: url('./assets/home/desktop/pattern-circles.svg');
  border-radius: var(--radius);
}

/* Inline #0 | http://127.0.0.1:5173/?index */

.stein {
  max-height: 60vh;
  padding: 7rem 6rem 0 6rem;
  gap: 0 2rem;
}

/* Element | http://127.0.0.1:5173/?index */

.stein > article:nth-child(2) > h1:nth-child(1) {
  color: white;
  font-size: 4rem;
  line-height: 1;
}

/* Element | http://127.0.0.1:5173/?index */

.stein > article:nth-child(2) > p:nth-child(2) {
  color: white;
  opacity: 0.8;
  font-weight: 200;
  font-size: 15px;
}

/* Element | http://127.0.0.1:5173/ */

.stein > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

/* Inline #0 | http://127.0.0.1:5173/ */

.stein > article:nth-child(2) > p:nth-child(2) {
  /* opacity: 0.5; */
  opacity: 0.8;
}

/* Element | http://127.0.0.1:5173/ */

.sawPro {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
  position: relative;
}
.sawPro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--whiteBlack);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
.sawPro:hover::before {
  height: 100%;
}

.z7x {
  width: 100%;
  border-radius: var(--radius);
  background-image: url('./assets/home/desktop/image-speaker-zx7.jpg');
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  gap: 30px 0;
  background-color: var(--earsh);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.z7x > h2:nth-child(1) {
  font-size: 26px;
  letter-spacing: 1px;
}
.z7x .sawPro {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all ease-in-out 0.5s;
}
.z7x .sawPro:hover {
  color: white;
}
.z7x .sawPro::before {
  background-color: var(--black);
}
.yx1 {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.yx1 img {
  border-radius: var(--radius);
}
.yx1 .z7x {
  background-image: none;
  padding: 0rem 5rem;
  height: 100%;
}
.bringing {
  display: grid;
  grid-auto-columns: 0.7fr 1fr;
  gap: 0 30px;
}
.bringing > article {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px 0;
}
.bringing > article h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.1;
}
.bringing > article p {
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}
.bringing picture {
  grid-column: 2/3;
  place-self: end;
}
.bringing img {
  border-radius: var(--radius);
}
.best {
  color: var(--orange);
}
footer {
  height: 40vh;
  background-color: rgb(16, 16, 16);
  padding: 4rem;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.footerWrapper {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 2rem 0;
  height: 100%;
  gap: 0 65px;
}
.artPic {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  height: 100%;
  justify-content: space-between;
}
.artPic > h4:nth-child(3) {
  color: white;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.footerWrapper p {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.footerWrapper .cats {
  display: flex;
  gap: 30px;
  place-self: flex-end;
  align-self: baseline;
  text-transform: uppercase;
}
.artCat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
}
.footerWrapper .links {
  display: flex;
  gap: 0 25px;
  place-self: end;
  align-self: first baseline;
}
.footerWrapper .cats a {
  transition: all ease-in-out 0.2s;
}
.footerWrapper .cats a:hover {
  color: var(--orange);
}
.footerWrapper .cats a {
  font-size: 15px;
  font-size: 13px;
  padding: 5px;
}
.footerWrapper .links a * {
  transition: all ease-in-out 0.2s;
}
.footerWrapper .links a :hover * {
  fill: var(--orange);
}
.Lino {
  position: absolute;
  top: 0;
  height: 4px;
  color: var(--orange);
  background-color: var(--orange);
  width: 100px;
}

.headHeader {
  background-color: black;
  height: 37vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid white;
  align-items: end;
  padding-bottom: 6rem;
}
.headHeader h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}
.ProductCat {
  width: 100%;
  gap: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  height: auto;
}

.ProductCat article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px 0;
  align-items: flex-start;
  text-align: left;
}
.desc {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--orange);
  font-size: 14px;
}
.paraDetail {
  color: black;
  opacity: 0.7;
  line-height: 1.7;
  font-size: 15px;
  /* font-weight: 200; */
}
.details h1 {
  font-size: 40px;
}
.headMain {
  gap: 170px 0;
}
.goBack {
  text-align: left;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 15px;
  position: relative;
  transition: all ease-in-out 0.2s;
  width: fit-content;
  opacity: 0.9;
  margin: 2rem 0 1rem 0;
}
.goBack::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--orange);
  bottom: -5px;
  left: 0;
  transition: all ease-in-out 0.2s;
}
.goBack:hover::before {
  /* height: 2px; */
  width: 100%;
}

/* Inline #-1 | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.goBack {
  width: fit-content;
  color: black;
  opacity: 0.8;
}

.spanPrice {
  font-weight: 700;
  font-size: 18px;
}

.details > div:nth-child(5) {
  display: flex;
  gap: 0 20px;
}
.toCart {
  padding: 0.8rem 1.75rem;
}
.addMore {
  /* padding: 0.8rem 1.75rem; */
  background-color: var(--whito);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  /* font-weight: 600;x */
}
.addMore button {
  padding: 0.8rem 1rem;
  font-weight: 500;
  color: black;
  opacity: 0.4;
  font-size: 16px;
  transition: all ease-in-out 0.2s;
}
.addMore button:hover {
  color: var(--orange);
  opacity: 1;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo {
  display: flex;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(1) > h4:nth-child(1) {
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) > h4:nth-child(1) {
  margin-bottom: 1.5rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
}

/* Inline #0 | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.moreInfo > div:nth-child(2) {
  justify-self: end;
}

.moreInfo > div:nth-child(1) > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

/* Element | http://127.0.0.1:5173/product_detail/xx99-mark-ii */

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li {
  display: flex;
  gap: 0 30px;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li > span:nth-child(1) {
  color: var(--orange);
  font-weight: 600;
}

.moreInfo > div:nth-child(2) > ul:nth-child(2) > li > span {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(2, fit-content);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.gallary > picture:nth-child(3) {
  border-radius: var(--radius);
  grid-row: 1/-1;
  grid-column: 2/3;
}
.gallary img {
  border-radius: var(--radius);
  height: 100% !important;
}

/* Element | http://127.0.0.1:5173/product_detail/zx9 */

.mayAlos {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px 40px;
}

.mayAlos > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}
.mayAlos > h2:nth-child(1) {
  grid-row: 1;
  grid-column: 2/3;
  text-transform: uppercase;
  font-size: 30px;
}

.mayAlos > article:nth-child(2) {
  grid-row: 2/3;
}

.mayAlos > article:nth-child(3) {
  grid-row: 2/3;
}

.mayAlos > article:nth-child(4) {
  grid-row: 2/3;
}
.mayAlos > article > h3:nth-child(2) {
  font-size: 23px;
  letter-spacing: 1px;
}
.productPage {
  gap: 130px 0;
}
.productPage .mightKnow {
  margin-top: 2rem;
}

.addMore {
  width: 145px;
}
/* CART*/

.carto {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  border-radius: var(--radius);
}

.carto > h4:nth-child(1) {
  grid-row: 1;
}

.carto > button:nth-child(2) {
  grid-row: 1;
  place-items: normal;
  justify-self: end;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}

.disPro {
  grid-column: 1/-1;
  grid-row: 2/3;
  gap: 15px 0;
  display: flex;
  flex-direction: column;
}

.carto > h5:nth-child(4) {
  grid-row: 3/4;
  text-transform: uppercase;
  color: var(--whitish);
  font-weight: 300;
  font-size: 16px;
  color: #00000094;
  user-select: none;
}

.carto > span:nth-child(5) {
  grid-row: 3/4;
  justify-self: end;
  font-size: 700;
  font-weight: 700;
  font-size: 17px;
}

.carto button.seePro:nth-child(6) {
  grid-row: 4/5;
  grid-column: 1/-1;
}

.disPro > li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 5px 15px;
}

.disPro > li > img:nth-child(1) {
  width: 60px;
  border-radius: var(--radius);
  grid-row: 1/-1;
  grid-column: 1/2;
}

.disPro > li > div:nth-child(4) {
  grid-row: 1/-1;
  grid-column: 3/4;
  width: auto;
  gap: 5px;
  height: fit-content;
  font-weight: 600;
}

.disPro > li > span:nth-child(2) {
  grid-row: 1/2;
  font-size: 15px;
  font-weight: 700;
}

.disPro > li > span:nth-child(3) {
  grid-row: 2/3;
  font-size: 15px;
  color: var(--whiteBlack);
}

.disPro > li > div:nth-child(4) > button:nth-child(1) {
  padding: 0.4rem 0.75rem;
}

.disPro > li > div:nth-child(4) > button:nth-child(2) {
  padding: 0.4rem 0.75rem;
}

.carto {
  padding: 2rem;
  width: 435px;
}
.doggy {
  cursor: none;
}

.noItems {
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  cursor: default;
}

.noItems::before {
  content: none;
}

.checkoutMain {
  /* padding-bottom: 370px; */
  margin-top: 0;
  margin-bottom: 0;
}
.checkoutFooter {
  /* position: absolute; */
  /* bottom: 0; */
}
.fillForm input,
.select {
  outline: none;
  color: black;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
  padding: 17px 80px 17px 10px;
  transition: all ease-in-out 0.3s;
  font-weight: 600;
  width: 100%;
  padding: 15px 0;
  padding-left: 10px;
}
.fillForm input:focus {
  border: 1px solid rgb(216, 125, 74);
}
.select {
  /* border: 1px solid rgb(207, 207, 207) ;
   */
  border: none !important;
  box-shadow: 0px 0px 0px 1px rgb(207, 207, 207);
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 15px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  height: 55px;
}
.select:hover {
  /* border: 1px solid #d87d4a !important; */
  box-shadow: 0px 0px 0px 2px #d87d4a !important;
}
.checkoutWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 255);
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.fillForm {
  background-color: white;
  padding: 3rem;
  border-radius: var(--radius);
  grid-row: 2/3;
  grid-column: 1/4;
  grid-column: 1/2;
}

.checkoutWrapper .carto {
  background-color: white;
  grid-row: 2/3;
  grid-column: 4/5;
  grid-column: 2/3;
  width: fit-content;
}

.checkoutMain {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.checkoutWrapper .goBack {
  grid-row: 1;
  grid-column: 1/2;
}
.fillForm form {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.fillForm form > h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.billing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.fillForm form > div > p {
  color: rgb(216, 125, 74);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  grid-column: 1/-1;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.fillForm label {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
}
.fillForm form > div {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.shipping > div:nth-child(2) {
  grid-column: 1/-1;
}
.payment > div:nth-child(5) {
  grid-row: 4/5;
  grid-column: 1/2;
}

div.form-row:nth-child(6) {
  grid-column: 2/3;
  grid-row: 4/5;
}
div.select:nth-child(4) {
  grid-column: 2/3;
}

.middleCircle {
  width: 20px;
  height: 20px;
  border: 2px solid #d87d4a;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ciro {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d87d4a;
}
.two-rows {
  grid-column: 1/-1 !important;
  display: flex;
  align-items: center;
  gap: 0 35px;
  font-size: 15px;
  line-height: 1.75;
  color: #909090;
  margin: 1rem 0 4rem 0;
}
.reviseDetails {
  height: fit-content;
}
.reviseDetails .disPro {
  grid-row: 1/2;
}

.reviseDetails > span:nth-child(3) {
  justify-self: flex-end;
}
.reviseDetails > span {
  justify-self: flex-end;
  justify-self: end;
  font-weight: 700 !important;
  font-size: 15px !important;
}
.reviseDetails > h5 {
  text-transform: uppercase;
  color: var(--whitish);
  font-weight: 400;
  font-size: 15px;
  color: #00000094;
  user-select: none;
}

.reviseDetails .seePro {
  grid-column: 1/-1;
}
.carto > span:nth-child(9) {
  color: #d87d4a;
}
.form-row {
  position: relative;
}
.SpanMessage {
  position: absolute;
  bottom: 15px;
  margin: auto;
  right: 0;
  top: 0;
  color: rgb(205, 44, 44);
  font-size: 12px;
}
